html, body, div, button, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
@font-face {
	font-family: Montserrat;
	src: url('../../../../public/fonts/Montserrat/static/Montserrat-Regular.ttf');
}
body {
  font-family: Montserrat, "Open Sans", sans-serif !important;
  color: #272829;
  overflow: hidden;
}
@media (any-hover: none) {
	* {
		cursor: none !important;
	}
	*::-webkit-scrollbar {
		width: 2px !important;
	}
	.formField input {
		padding: 13px 0 !important;
	}
}
*::-webkit-scrollbar {
	width: 4px;
}
*::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #979797;
  border-radius: 50px;
}
*::-webkit-scrollbar-track {
	/*background: #d5d5d5;*/
}
.loaderUser {
	width: 100%;
}

@-webkit-keyframes slideGradient {
	0% {
		left: 0;
	}
	
	100% {
		left: 100%;
	}
}
.loaderUser > div {
	position: relative;
	margin: 10px 0;
	height: 53px;
	background: linear-gradient(268deg, transparent, #f7f7f740,transparent);
}
.loaderUser > div > div {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, #ededed0f, #93939308, #ededed0d, #fff6f600);

  animation-name: slideGradient;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate__animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}


* {
	margin: 0;
	padding: 0;
	font-size: 99.5%;
	box-sizing: border-box;
	font-family: Montserrat !important; 
	letter-spacing: .2px;
}
button, label {
	cursor: pointer;
}

a {
	text-decoration: none;
  color: #202020;
}

a:hover {
  color: #00101e;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
:root {
 --animate-duration: .5s;
  --animate-delay: 1s;
  --animate-repeat: 1
	--mainpane_width: 100%;
	--basic_color: cornflowerblue;
	--default_fontsize: 99.5% !important;
}
.signupMain * {
  font-family: Montserrat !important;
}
.signupMain {
	width: var(--mainpane_width);
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.spx1 {
  padding: 32px 0;
	background: #fff;
	height: 100%;
}
.SMRContainer {
	padding: 0 6%;
}
/*.signupMainFc {
	width: 100%;
	display: none;
}

.imgBox .imgContainer {
	white-space: nowrap;
  overflow-x: hidden;
  transition: 500s ease;
}
.imgBox .imgContainer > div {
	height: 100%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.imgBox .imgContainer > div img {
	width: inherit;
	height: inherit;
}*/

.signupMainRight {
	float: right;
	display: flex;
	justify-content: center;
}


.headerBtn {
	color: var(--basic_color);
	font-size: 17.3px !important;
	font-weight: bold;
}
.headerBtn a {
	color: var(--basic_color) !important;
}
.SMRContainer header {
	margin-bottom: 25px;
}
.SMRContainer header h1 {
	margin-bottom: 10px;
	color: #b75b39;
	font-size: x-large !important;
}

.Form .btnFieldset {
	margin-top: 25px;
}
.Form > fieldset:nth-child(2n) {
	margin-bottom: 14px;
}
.altSignups {
	display: flex;
	justify-content: space-between;
	width: inherit;
}
.altSignup {
	width: 100%;
	padding: 10px 10px 10px 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
}
.altSignup:first-child {
	border: 1px solid #ddd;
}
.altSignup:last-of-type {
	background: #507bc7;
	color: #fff;
}
.altSignupText {
	margin-left: 5px;
	font-size: 90% !important;
  font-weight: bold;
}

.signupForm .borderDivider {
	margin: 20px 0;
	text-align: center;
}
.signupForm .borderDivider span {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.signupForm .borderDivider span::before {
	content: '';
  width: 90%;
  margin-right: 10px;
  border: 1px solid #e3e3e3;
 }
.signupForm .borderDivider span::after {
	content: '';
  width: 90%;
  margin-left: 10px;
  border: 1px solid #e3e3e3;
}
.formField {
	margin-bottom: 22px;
	width: inherit;
}
.formField:last-of-type {
	margin-bottom: 10px;
}
.formField.formMisc {
	display: flex;
  align-items: center;
  justify-content: flex-end;
}
.formField.formMisc .forgot {
	padding: 3px 8px;
  color: #565353;
  background: #eaf2ff;
}
.formfield .formIcons {
	fill: #999 !important;
}

.formField label.fieldset_1_label {
	display: block;
	margin-bottom: 5px;
}
 .MuiFormControl-root {
	width: 100%;
}
.formField .formInput {
	width: 100%;
}
.formField input {
	padding: 11px 5px; 
	width: 100%;
}	
.formField .checkbox {
	padding-left: 0;
}

.formField .button {
	width: 100%;
	color: #fff;
	background: var(--basic_color);
}
.formField .button:hover {
	background: var(--basic_color)
}
.formField .button:disabled {
	background: #7897cd;
	padding: 15px 0;
}
/** Main App styles **/
.main {
	display: flex;
	background: #eee;
	overflow: hidden;
	height: 100%;
}
.component {
	display: flex;
	flex-direction: column;
}
.main .panes  {
	height: 100%;
}
.activeUsers .count {
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
}
.activeUsers .avataronline .MuiBadge-dot {
	background: #8ae76b;
}
.activeUsers .avataroffline .MuiBadge-dot {
	background: #8d8d8d;
}
.panes .paneHeader {
	padding: 8px 10px 8px 0;
	margin-bottom: 0;
}
.main .leftPane {
	background: #fff;
  font-family: "Open Sans", sans-serif !important;
  max-width: 70%;
  min-width: 25%;
  width: 30%;
  resize: horizontal;
  overflow: hidden;
}

.main .paneHeaderItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.appBody {
	overflow: scroll;
	padding-bottom: 15px;
}
.settingsComp {
	padding-top: 20px;
}
.userProfile {
	position: relative;
}
.userProfileProps {
	padding: 19px 5px;
}
.userProfileProps h6 {
	font-size: 17px;
}
.userProfilePropsChild {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.userProfile::after {
  box-shadow: inset 0px 1px 0px #dbdbdb;
  content: '';
  height: 10px;
  position: absolute;
  width: 100%;
  background: #eee;
}

.userProfile .userProfileAvatar {
	display: flex;
  justify-content: center;
}
.userProfileAvatar .MuiAvatar-colorDefault {
	padding: 10% !important;
	font-size: 100% !important;
}

.mainSettings {
	 padding: 0 17px;
	 margin-top: 25px;
}
.mainSettings .subSettings {
	margin-bottom: 30px;
}

.subSettings h6 {
	font-size: 16px;
	color: #604c42;
	font-weight: bold;
}

.subSettings .subItem {
	cursor: pointer;
	padding: 13px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subItem > span:first-child {
	font-size: 15.4px;
	color: #000;
	display: flex;
	align-items: center;
}
.subItem > span:first-child > svg {
	margin-right: 10px;
	font-size: 20px;
	color: #444;
}
.reset {
	height: 100%;
}
.reset span+ button+ input {
	font-family: sans-serif !important;
}
.reset .resetBody {
	margin-top: 30px;
	padding: 0;
}
.reset .inputGroup {
	margin: 0 auto;
	width: 85%;
}

.reset .inputGroup.inputGroupButton {
	margin-top: 25px;
}
.reset .inputGroup > div {
	margin-bottom: 12px;
}

.inputGroup .resetButton {
	box-shadow: none;
	width: 100%;
	text-transform: capitalize;
	font-weight: bold;
	margin-bottom: 10px;
}
.inputGroup .resetButton:hover {
	box-shadow: none;
}
.inputGroup .buttonUpdate:disabled {
	background: #7897cd;
}
.inputGroup .buttonUpdate {
	background: var(--basic_color);
	color: #fff;
}
.inputGroup .buttonUpdate:hover {
	background: var(--basic_color);
}
.inputGroup .buttonCancel {
	color: #545353;
}
/*.afterReset {
	height: 100vh;
  background: #f4faff;
  display: flex;
  align-items: flex-start;
}
.afterReset .afterResetBody {
	margin: 0 auto;
	padding: 40px 5%;
	background: #fff;
	position: relative;
	top: 10%;
	width: calc(100% - 40vw)
}
.afterResetBody h1 {
  font-size: 1.8rem;
  color: var(--basic_color);
  margin-bottom: 35px;
}
.afterResetBody h1, .afterResetBody .afterResetInfo {
	text-align: center;
}
.afterResetBody .afterResetInfo {
	width: 80%;
	margin: 0 auto;
}

.afterResetBody .afterResetInfo h2 {
	font-size: 1.4rem;
	margin-bottom: 20px;
	color: #46362e;
}
.afterResetBody .afterResetInfo p {
	font-size: 15px;
}*/
.recentChats {
	position: relative;
	height: 100%;
}

.recentChats .addBtn {
	position: absolute;
	right: 10%;
  bottom: 10%;
  cursor: pointer;
  z-index: 999;
}
.noMatch {
	text-align: center;
	padding: 50px 10px;
}
.noMatch span:first-child {
	font-style: italic;
}
.noMatch span {
	font-size: 14px;
}

.app {
	background: #fff;
	box-shadow: none;
	border-bottom: 1px solid #d1d1d1;
	font-size: 90%;
	padding: 5px 10px 0px 5px;
	position: relative;
}
.toolbar {
	display: flex;
	align-items: center;
}
.toolbar > div:first-child {
	margin-right: 10px
}
.toolbar > div.backBtn {
	margin-left: 13px;
}
.h6 {
	font-size: '1.15rem'
}
.paneHeaderItems .leftPaneheaderMenu {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.leftPaneheaderMenu .menu {
	cursor: pointer;
}
.paneHeaderItems .leftPaneheaderSearch {
	width: 100%;
}
.appSearch .contactsSearch {
	width: 100%;
}
.contactsSearch input {
	padding: 17px 14px;
	font-size: .9rem;
}

.main .rightPane {
	display: flex;
	width: 70%;
	flex-direction: column;
	overflow: hidden;
	background: #eeeeeead;
	font-family: Montserrat;
}
.rightPane .rightPaneHeader {
	padding: 8px 1px 8px 10px;
	background: #fff;
	margin-left: 4px;
	border-bottom: 1px solid #d1d1d1;
}
.rightPane .rightPaneHeader > a {
	height: 100%;
  float: left;
  margin: 0 10px 0 7px;
  display: none;
  align-items: center;
}
.paneHeaderItems .userInfo {
	font-size: 14px;
	display: flex;
	align-items: center;
}
.appSearch {
	width: 100%;
}
.paneHeaderItems .userInfo .info {
	margin-left: 10px;
}
.paneHeaderItems .userInfo .info span {
	font-size: 11.5px;
	display: block;
	margin-top: 2px;
}
.rightPaneHeaderMisc {
}
.rightPaneHeaderMisc .searchIcon {
	transform: rotate(90deg);
}
.menuItem {
	width: 200px !important;
}
.menuText {
	font-size: 15.4px !important;
	margin-left: 8px !important;
}
.messagesMain {
	display: flex;
	flex-direction: column;
	/*height: calc(100vh - 40px);*/
	overflow: hidden;
}

.messageChats {
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	padding: 5px 8px;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}
.profilePage {
	width: 40%;
	max-width: 50%;
	background: #fff;
	display: flex;
	overflow: hidden;
	resize: horizontal;
	flex-direction: column;
}
.profile {
	display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dateFixed {
	display: none;
  position: fixed;
  width: max-content;
  margin: 0 auto;
  top: 56;
}

.chat {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}
.dateNotice {
	text-align: center;
  background: #fff;
  display: block;
  margin: 5px auto;
  width: max-content;
  padding: 2px 10px;
  font-size: 13px;
  box-shadow: 0px 0px 1px 0px #545454;
}
.chats {
	padding: 0 10%;
}

.chats .message {
	margin-top: 5px;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chats .chatsRight {
	color: #fff;
  align-self: flex-end;
}
.chats .chatsLeft {
	align-self: flex-start;
	align-items: flex-start;
}
.chats .message .chat_ {
  background: #fff;
  padding: 5px 10px;
  width: inherit;
  margin: 0 5px 0 0;
  font-size: 13.9px;
  line-height: 1.3;
  letter-spacing: 0;
  border-radius: 5px;
}
.chats .message .chat_ svg {
	margin-left: 4px;
}
.chats .chatsRight .chat_ {
	margin: 0 0 0 5px;
  background: cornflowerblue;
}


.chats .datetime {
	font-size: 11px;
	color: #7e7e7e !important;
	margin-top: 2px;
}

.messageInput {
	padding: .6rem 0;
	background: #fff;
	display: flex;
	min-height: 30px;
	margin: 0 10%;
  justify-content: space-between;
}
.messageInput > div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.messageInput > div.messageField {
	align-items: center;
}

.messageInput .messageField {
	width: 70%;
}

.messageField .input {
	width: 100% !important;
}
.messageField .input textarea {
	font-size: 14px;
	overflow-y: scroll !important;
}


@media screen and (max-width: 1100px) {
	.spx1 {
		/*margin: 23px 0;*/
	}
	.SMRContainer {
		padding: 0 5%
	}

}

@media screen and (max-width: 995px) {
	.main .leftPane {
		width: 35%;
	}
	.altSignups {
    flex-direction: column;
	}
	.altSignup {
		width: inherit !important;
	}
	.altSignup:first-child {
		margin: 0 0 10px 0;
	}

	.chats {
		padding: 0 7%;
	}
	.messageInput {
		margin: 0 7%;
	}
}

/** Tablet screen*/
@media screen and (max-width: 768px) {
	.signupMainLeft {
		/*display: none;*/
		width: 76%;
	}
	.signupMainRight {
		width: 100%;
	}
	.headerBtn {
		/*font-size: 15.5px !important;*/
	}
	.SMRContainer header h1 {
		font-size: 1.35rem !important;
	}
	.SMRContainer header {
		font-size: 14px !important;
	}
	.altSignups {
    flex-direction: row;
	}
	.altSignup {
		width: 100% !important;
	}
	.altSignup:first-child {
		margin: 0 14px 0 0;
	}
	.formField input {
		/*font-size: 14px;*/
	}

	.main .leftPane {
		width: 40%;
	}
	.inputReset input {
		font-size: 14px !important;
	}
	
	.appH6 {
		font-size: 16px !important;
	}
	/*.subSettings h6 {
		font-size: 15px;
	}*/
	.passwordIcon svg {
		font-size: 1rem;
	}
	.messageInput {
		margin: 0 5px;
	}
	.chats {
		font-size: 13.7px !important;
		padding: 0;
	}
	.dateNotice {
		font-size: 12.7px
	}

}
@media screen and (max-width: 606px) {
	.signupMainLeft {
		display: none;
	}
	.main .leftPane {
		width: 50%;
	}

}
/** Phone Screen **/
@media screen and (max-width: 500px) {
	.altSignups {
    flex-direction: column;
	}
	.altSignup {
		width: inherit !important;
	}
	.altSignup:first-child {
		margin: 0 0 10px 0;
	}
	.main {
		display: block;
	}
	.rightPane .rightPaneHeader > a {
		display: flex;
	}
	.main .panes {
		position: absolute;
	}
	.main .leftPane {
		z-index: 222;
		max-width: 100%;
		width: 100%;
	}
	.MuiTypography-h6 {
		font-size: 1rem;
	}
	.chats .message .chat_ {
		font-size: .85rem;
	}
	.loader {
		/*height: calc(100vh - 84px) !important;*/
	}
	.main .rightPane {
		width: 100%;
	}
	.main .profilePage {
		width: 100%;
		max-width: initial;
		resize: none;
	}
	.profileInfo {
		padding: 0 20px !important;
	}

}

@media screen and (max-height: 570px) {
	button.logout {
		position: relative;
	}
}
